<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header border-0 d-flex justify-content-between">
            <div></div>
            <div class="modal-title title">
                {{destNickName}}
            </div>
            <div>
                <button type="button" class="close" (click)="close()">&times;</button>
            </div>
        </div>
        <div class="modal-body border-0">
            <div *ngIf="messages && messages.length > 0" class="messages-container mt-2 mb-2">
                <div class="d-flex justify-content-start" *ngFor="let msg of messages; index as i">
                  <div class="author text color-black">
                    <span *ngIf="msg.sourceNickName == nickName; else other">
                      Вы
                    </span>
                    <ng-template #other>
                      {{msg.sourceNickName}}
                    </ng-template>
                     :
                  </div>
                  <div class="author text color-black ml-2">
                    {{msg.text}}
                  </div>
                  <div class="date text color-black ml-2">
                    ({{msg.sendDate | date: 'dd.MM hh:mm'}})
                  </div>
                </div>
              </div>
            <div class="new-message">
                <div class="d-flex justify-content-start">  
                  <input type="text" class="form-control form-control-sm" [(ngModel)]="txtMessage" (keydown.enter)="sendMessage()" placeholder="Введите сообщение" />  
                  <div type="button" class="btn btn-primary ml-2" (click)="sendMessage()">
                    <span class="text">
                      Отправить
                    </span>
                  </div>
                </div> 
            </div>
        </div>
    </div>
</div>
